* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  background-color: rgb(221, 237, 252);
}
.gauge {
  /* width: 50%; */
  background-color: rgb(221, 237, 252);
  width: 80%;
}

.button {
  background-color: #76ed72;
  font-size: larger;
  padding: 16px;
  margin: 20px 20px 0px 20px;
  border: 3px solid blue;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: chartreuse;
}

h1 {
  color: rgba(51, 64, 250, 0.815);
  text-align: center;
  background-color: rgb(190, 230, 243);
  padding: 15px;
}

h2 {
  text-align: center;
}

#connection-status {
  color: rgba(255, 0, 98, 0.74);
  font-size: xx-large;
  text-align: left;
  margin: 10px 10px 0px 10px;
}
