* {
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  text-align: center;
  color: rgba(79, 19, 158, 0.822);
}

html {
  background-color: rgb(221, 237, 252);
}
.gauge {
  /* width: 50%; */
  background-color: rgb(221, 237, 252);
  width: 100%;
}

a {
  font-size: large;
  font-weight: bold;
}

h1 {
  background-color: rgb(190, 230, 243);
  padding: 15px;
}

h2 {
  text-shadow: 1px 2px rgba(238, 130, 238, 0.719);
}

h3 {
  background-color: rgb(169, 213, 238);
  padding: 25px;
  font-size: xx-large;
}

#myButton {
  background: linear-gradient(45deg, #fcf644 30%, #44edfc 90%);
  border: 0;
  border-radius: 17px;
  box-shadow: 0 3px 5px 2px rgba(63, 191, 191, 0.25);
  color: rgba(80, 19, 158, 0.993);
  font-size: x-large;
  font-weight: bold;
  height: 48px;
  padding: 10px 30px;
  margin: 0px 20px;
  transition: 2s;
}

#myButton:hover {
  background: #44fcaf;
  box-shadow: 0 10px 15px 8px rgba(63, 191, 191, 0.35);
  transform: scale(1.1);
}

#connection-status {
  color: rgba(255, 0, 98, 0.74);
  font-size: xx-large;
  margin: 10px 10px 0px 10px;
}

#sensor1 {
  float: left;
  max-width: 49%;
}

#sensor2 {
  float: right;
  max-width: 49%;
}
